.supported-chain-wrapper {
  padding: 4px;
}

.supported-chain-item {
  box-sizing: border-box;
  padding: 8px 0;
  margin-bottom: 5px;
}

.chain-icon {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
}

.chain-item-name {
  display: inline-block;
  min-width: 200px;
  text-align: left;
  // background: #F00;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.content-center {
  text-align: center;
  width: 100%;
  padding: 5px;
  // background-color: #F00;
  box-sizing: border-box;

  &>div {
    // padding: 5px;
    // background-color: #00F;
    // margin: 10px auto !important;
    box-sizing: border-box;

    &>button {
      display: inline-block !important;
      vertical-align: top !important;
    }
  }
}

.red {
  color: #F44;
}

.green {
  color: #4e4;
}

.blue {
  color: #66e;
}

.pd-10,
.pd-15,
.pd-20,
.h-line {
  box-sizing: border-box;
}

.pd-10 {
  padding: 5px;
}

.pd-15 {
  padding: 8px;
}

.pd-20 {
  padding: 12px;
}

.pd-25 {
  padding: 18px;
}

.pd-30 {
  padding: 24px;
}


.h-line {
  box-sizing: border-box;
  width: 100%;
  min-height: 1px;
  border-top: dashed 1px #545454;
  margin: 10px auto;
}


.input-main-wrapper {
  margin: 15px auto;
  text-align: center;
  // outline: none;
  box-sizing: border-box;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  // background-color: #F00;
  // margin-top: 20px;
}

.input-main-lable {
  box-sizing: border-box;
  padding: 0 0 8px 10px;
  text-align: left;
}

.input-main {
  // outline: none;
  outline-width: 1px;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  margin-bottom: 10px;
  // margin-top: 20px;
}


.system-btn {
  border-radius: 6px;
  border-color: #888;
  width: auto;
  min-width: 120px;
  background-color: #0c1932;
  padding: 10px;
}

.system-btn:disabled {
  background-color: #666;
  color: #999;
  cursor: default;
}

.system-btn-width {
  /* min-width: 120px !important; */
  /* width: auto; */
  max-width: 240px;
}

.system-btn-mini {
  max-width: 96px !important;
  min-width: 10px !important;
  margin: 0 10px;
  background-color: #4c5972;
  vertical-align: top;
  width: 80px;
}



@media only screen and (max-width: 420px) {
  .hide-on-sm {
    display: none !important;
  }
}

@media only screen and (min-width: 421px) and (max-width: 640px) {
  .hide-on-md {
    display: none !important;
  }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {}

@media only screen and (min-width: 769px) and (max-width: 1024px) {}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {}

@media only screen and (min-width: 1280px) {}