.symbol-wrapper {
  display: inline-block;
  vertical-align: top;
}

.symbol-symbol {
  box-sizing: border-box;
  padding: 4px 10px;
  border: solid 1px #fff;
  margin: 0 10px;
  background: #444;
  color: #fff;
  border-radius: 6px;
}

.symbol-value {
  color: #7F0;
}